
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
  draggable: true;
}

#paralelcontainer{
    width:100%;    
    float:left;
}

#paralel{
    width:60%;    
    margin-top: 20%;
    margin-right: 4%;
    float:left;
}
#ejecontainer{   
    width:10%;    
    float:left;
    border-style:solid;   
    margin-top: 20%;
    margin-right: 4%;
    height:500px;
   
}
#paralel svg{
     padding-left: 5%;
}
#ejecontainer svg:hover {
background-color:rgba(0, 103, 255, 0.78);
}
.main{
    display:table;
}