
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line{
  cursor: move;

},
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

#paralelcontainer{
    min-width:20%;
    max-width:30%;
    float:left;
}

#paralel{
    min-width:20%;
    max-width:50%;
    margin-top: 20%;
    margin-right: 4%;
    float:left;
}
#ejecontainer{   
    min-width:10%; 
    max-width:20%;
    float:left;
    border-style:dotted;
    padding-top: 10%;
    margin-top: 20%;
    margin-right: 4%;
   
}
#paralel svg{
     padding-left: 5%;
}
#ejecontainer svg:hover {
background-color:rgba(0, 103, 255, 0.78);
}
.main{
    display:table;
}