
#treecontainer g text {
font-size: 15px;
pointer-events: none;
color:#003249 !important; 
z-index:1000;
}

circle {
fill: #9AD1D4;
stroke: #80CED7;
pointer-events: all;
fill-opacity:.2;
}

circle.parent {
fill: #FFF7D1;
fill-opacity: .1;
stroke: #007EA7;
}

circle.parent:hover {
    stroke: #007EA7;
    stroke-width: .5px;
    fill: #003249;
}

circle.child {
pointer-events: all;
}
#treecontainer{
min-width:65%;
max-width:65%;
float:left;
margin-top:0px;
height:500px;
}

#tablainfo{
min-width:35%;
max-width:35%;
float:left;
margin-top:0px;
height:500px;
}

.main .svgdrag{
    overflow:visible;
}