 #treecontainer{
     min-width:35%;
     max-width:30%;
     float:left;
     margin-top:100px;
        
 }
   #treecontainer svg {
   overflow: visible;
}
  #treecontainerDetalle{
    border:1px solid black;
  }
  
	.node {
    cursor: pointer;
  }

  .overlay{
     // background-color:#FFF;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }  
