
<h1>Bienvenidos a Esat</h1>

<div id="pregrado" class="liquidv">
    <h3>Pregrado</h3>
    <svg id="fillgauge1" width="100%" height="200"></svg>   
</div>
<div id="pregrado" class="liquidv">
    <h3>Maestría</h3>
    <svg id="fillgauge2" width="100%" height="200"></svg>
</div>
<div id="pregrado" class="liquidv">
    <h3>Doctorado</h3>
    <svg id="fillgauge3" width="100%" height="200"></svg>
</div>
<div id="pregrado" class="liquidv">
    <h3>Especialización</h3>
    <svg id="fillgauge4" width="100%" height="200"></svg>
</div>
<script src="javascripts/liquid.js"></script>