
<h1>{{ title }}</h1>
<p> Bienvenidos a {{ title }}</p>
   
    <div id="table_container" class="csvTable">Seleccione el pais:</div>
    <div id="selectedName"></div>
    <div id="chart"></div>
    <div id="tablainfo"></div>
<script src="javascripts/visualD3.js"></script>