
<!--<button onclick="refrescar()">Random me</button> -->
<div id="botonesanhoscontainer"></div>
<div id="treecontainer"></div>
<div id="tablainfo"><div id="tituloTablaInfo"></div></div>
<div id="paralelcontainer">
    <div id="ejecontainer"><h2 id="ejecontainerText"></h2></div>
    <div id="paralel"></div>
</div>

<div id= "scatter"><h1></h1></div>
<script src="javascripts/barchar.js"></script>
<script src="javascripts/ejeDrop.js"></script>
<script src="javascripts/treetest.js"></script>
<script src="javascripts/paralel.js"></script>
<script src="javascripts/pnlAnhos.js"></script>
<script src="javascripts/scatter.js"></script>