<div id="treecontainer"></div>
<div id="ejecontainer"></div>
<div id="paralel">
    <div id="ejecontainer"></div>
</div>
<script src="javascripts/ejeDrop.js"></script>
<script src="javascripts/tree.js"></script>
<script src="javascripts/paralel.js"></script>
<script src="javascripts/pnlAnhos.js"></script>