<div id="treecontainer"></div>
<div id="paralelcontainer">
    <div id="ejecontainer"></div>
    <div id="paralel"></div>
</div>
<script src="javascripts/ejeDrop.js"></script>
<script src="javascripts/treetest.js"></script>
<script src="javascripts/paralel.js"></script>
<script src="javascripts/pnlAnhos.js"></script>